.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.modal.dark {
    background-color: #141414;
    color: #fbfbfb;
}

.close-icon {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.modal h2,
p {
    text-align: center;
    padding-top: 1rem;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 90vh;
    overflow: scroll;
}

.modal-content.dark {
    background-color: #000000;
}

.form-group {
    display: flex;
    align-items: center;
    margin: 20px;
}

.form-group label {
    flex: 1;
    margin-right: 10px;
}

.form-group input,
.form-group select {
    flex: 2;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2196f3;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #1976d2;
}

#favTeams, #leagues {
    max-width: 70%;
    color: #000000;
}