.board-wrapper {
    height: 100%;
    width: 100%;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.board-wrapper.dark {
    background-color: #000000;
    color: #fbfbfb;
}