@font-face {
    font-family: seven-segment;
    src: url(seven-segment.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    overflow: hidden;
    overflow-y: scroll;
    font-family: seven-segment, sans-serif;
}