.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    font-size: 4vw;
}

.matchup-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.home-team,.away-team {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 4vw;
    gap: 40px;
    padding: 2rem;;
}

.team-logo {
    height: 100%;
    width: 45%;
    object-fit: contain;
}

.team-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}