.game-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.gameOdds {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.oddsOverUnder, .oddsDetails {
    font-size: 7vw;
}

.game-status {
    font-size: 12vw;
}

.game-time {
    font-size: 10vw;
}

.game-date {
    font-size: 10vw;
}

.game-day {
    font-size: 12vw;
}

.time,
.period,
.quarter,
.down-and-distance,
.spot {
    font-size: 9vw;
}

/* baseball */
/* .outs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.out {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid black;
} */