.game-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameOdds {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.oddsOverUnder, .oddsDetails {
    font-size: 6vw;
}
.oddsDivider {
    height: 6vw;
    width: 6vw;
}

.game-status {
    font-size: 12vw;
}

.game-time {
    font-size: 10vw;
}

.game-date {
    font-size: 10vw;
}

.game-day {
    font-size: 12vw;
}

.time,
.period,
.quarter,
.down-and-distance,
.spot {
    font-size: 9vw;
}

.game-info-baseball {
    justify-content: space-between;
}

.inning {
    font-size: 7vw;
}

.count,
.outs {
    font-size: 6vw;
}

.bases {
    width: 60%;
}

.dueUp {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    padding: 2rem;
    align-items: center;
}

.dueUpHeader {
    font-size: 6vw;
}

.dueUpItem {
    font-size: 5vw;
    white-space: nowrap;
    overflow: hidden;
}

.possession {
    height: 5.25vw;
    width: 9vw;
    position: absolute;
    bottom: 13%;
}

.possession-away {
    left: 25%;
}
.possession-home {
    right: 25%;
}

.nfl-icon {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.nfl-icon-possession {
    border-radius: 50%;
    background-color: #804818;
    font-size: 0.5rem;
    letter-spacing: -1px;
}

.nfl-icon-redzone {
    background-color: #ff5256;
    font-size: 2rem;
    border-radius: 8px;
}
.nfl-icon-points {
    background-color: #52b7ff;
    font-size: 2rem;
    border-radius: 8px;
}

.nfl-icon-points-missed {
    background-color: #a2a2a2;
    font-size: 2rem;
    border-radius: 8px;
    overflow: hidden;
}

.nfl-icon-points-missed::before {
    content: '';
    position: absolute;
    top: 2.25px;
    left: 2.25px;
    width: 105%;
    height: 105%;
    border-top: 2px solid #747373; 
    transform: rotate(28deg); 
    transform-origin: top left;
}

.timeouts {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 0;
    width: 30%;
    justify-content: center;
}

.timeouts-home {
    right: 0%;
}

.timeouts-away {
    left: 0;
}

.timeout {
    height: 0.5vw;
    width: 3vw;
    background-color: black;
    display: flex;
}