.caret {
    position: absolute;
    bottom: 43%;
    height: 8vw;
    width: 8vw;
}

.caret-home {
    right: 85%;
}

.caret-away {
    left: 85%;
}

.game-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.game-color-bar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.game-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5%;
}

.game-summary {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
    justify-content: space-around;
}

.game-matchup {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 0.5rem;
    position: relative;
}

.team {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.team-logo-wrapper {
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.team-name-wrapper {
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-name {
    width: 100%;
    font-size: 11vw;
    text-align: center;
}

.team-color {
    width: calc(50% + 4px);
    height: 100%;
    position: absolute;
}

.team-color-away {
    -webkit-clip-path: polygon(0 0, calc(100% - 4px) 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, calc(100% - 4px) 0, 100% 100%, 0 100%);
    left: 0;
}

.team-color-home {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 4px 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 4px 100%);
    right: 0;
}

.score-wrapper,
.team-record-wrapper {
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-record {
    font-size: 7vw;
    text-align: center;
}

.score {
    font-size: 11vw;
    text-align: center;
}

