.gameCard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.gameHeader {    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5%;
}

.gameColorBar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.teamColor {
    width: calc(50% + 4px);
    height: 100%;
    position: absolute;
}

.awayTeamColor {
    -webkit-clip-path: polygon(0 0,calc(100% - 4px) 0,100% 100%,0 100%);
    clip-path: polygon(0 0,calc(100% - 4px) 0,100% 100%,0 100%);
    left: 0;
}

.homeTeamColor {
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,4px 100%);
    clip-path: polygon(0 0,100% 0,100% 100%,4px 100%);
    right: 0;
}

.networkInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gameSummary {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
    justify-content: space-around;
}

.gameMatchup {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 0.5rem
}

.teamWrapper {
    display: flex;
    flex-direction: row;
    width: 35%;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
}

.homeTeam {
    order: 1;
}

.teamLogoWrapper {
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teamLogo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.teamInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.teamNameWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teamName {
    width: 100%;
    font-size: 11vw;
    text-align: center;
}

.teamRecordWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teamRecord {
    font-size: 7vw;
    text-align: center;
}

.scoreWrapper {
    width: 30%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.score {
    font-size: 9vw;
    text-align: center;
}

.homeCaret {
    position: absolute;
    bottom: 0;
    left: -50px;
}

.awayCaret {
    position: absolute;
    bottom: 0;
    right: -50px;
}

